body{
	margin:0px;
	padding:0px;
	background-color:#dfe3e6;
	overflow:hidden;
	font-family: "Helvetica Neue",Helvetica,Arial;
font-size:14px;
}

.bar{
height: 40px;
border-bottom:#333333 solid 2px;
background:#2c9cc8;
line-height:40px;
font-weight:bold;
color:#ffffff;

}
.block{
border-radius:6px;
background-color:#ffffff;
border:1px  #999999 solid;
width:100%;
}
.con{


width:100%;
background-image: -webkit-linear-gradient(bottom, #c0c1c4 0%,#c0c1c4 50%,#d0d1d3 51%,#ebebec 100%);
background-color:#ffffff;
list-style:none;
margin:0px;
padding:0px;
font-weight:bold;

}
.con>div{
	border-bottom:1px  #dfe3e6 solid;	
	display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;
	margin:0px;
	padding:0px;
	padding-left:10px;
}
.con>div>div:nth-child(1){
-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;
-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;
height:40px;
margin:0px;
padding:0px;
line-height:40px;
}
.con>div>div:nth-child(2){
-webkit-box-flex:2;-moz-box-flex:2;-o-box-flex:2;-ms-box-flex:2;box-flex:2;
-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;
height:40px;
margin:0px;
padding:0px;
height:30px;
  line-height:40px;
}


.topaybutton{
height:30px;
border-bottom: 1px solid;
background-image: -webkit-linear-gradient(bottom, #56b148 0%,#56b148 50%,#69c55a 51%,#99e48d 100%);
border-radius:16px;

padding-top:6px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
margin-top:10px;
}
.exitButton{
box-shadow: inset 0 1px 0 #fafbfc;
background-image: -webkit-linear-gradient(bottom, #c0c1c4 0%,#c0c1c4 50%,#d0d1d3 51%,#ebebec 100%);
height:30px;
border-bottom: 1px solid;
border-radius:16px;

padding-top:6px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
margin-top:10px;
}
.ordercon{

width:100%;

}
.condetail>div{
background-color:#ffffff;
display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;
border-bottom:1px  #ff0000 solid;
padding:10px;
}
.condetail>div img{
border-radius:8px;
width:50px;
}

.consecond{
-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;
padding-left:10px;
display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;
-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;
	
}
.consecond>div{
	width:100%;
	padding:2px;
	
}
.consecond>div:nth-child(1){
	font-family: "Helvetica Neue";
	color:#000000;
	font-weight:bold;
	font-size:1em;
}
.consecond>div:nth-child(2){
	font-family: "Helvetica Neue";
	color:#FF0000;
	font-weight:bold;
}
.jisuan{

}
.jisuan>div{
 padding-left:10px;
 padding-right:10px;
height:40px;
line-height:40px;
border-bottom:1px #999999 dotted;
font-weight:bold;
}
.jisuan>div:last-child{
border-bottom:1px #999999 solid;
}